* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  background-image: url(../images/img5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  gap: 120px;
  margin-left: auto;
  margin-right: auto;
}
.field {
  width: 150px;
  text-align: center;
  border-radius: 10px;
}
.days,
.hours,
.minutes,
.seconds {
  font-size: 130px;
  color: coral;
}
.label {
  font-size: 60px;
  color: rgb(144, 214, 4);
}

#btn {
  width: 150px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: medium;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#datetime-picker {
  width: 200px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
